/*********************css reset*********************/
html,body, div, span, form,iframe,
h1, h2, h3, h4, h5, p, em, img, ol, ul, li {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

/*@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {
  html{font-size: 105%;}
}*/
html {
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  font-family: Helvetica, 'STXihei', 'STHeiti Light', '»ªÎÄÏ¸ºÚ', sans-serif;
  line-height: 1;
  background-color: #F1F1F1;
  height: 100%;
}


input {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  border-style: none;
}

input {
  outline-style: none;
}

input[type="text"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
ol,
ul,
li {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #555555;
}
a {
  display: block;
}
.clear {
  clear: both;
}

/*Çå³ý¸¡¶¯*/

.clearfix:after {
  content: "\0020";
  height: 0;
  display: block;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.shadow {
  filter: progid:DXImageTransform.Microsoft.Shadow(color='#d9dbdd', Direction=135, Strength=2);
  /*for ie6,7,8*/
  -moz-box-shadow: 0px 1px 3px #d9dbdd;
  /*firefox*/
  -webkit-box-shadow: 1px 0px 3px #d9dbdd;
  /*webkit*/
  box-shadow: 0px 1px 3px #d9dbdd;
  /*opera»òie9*/
}
.hidden {
  display: none;
}

.show {
  display: block;
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/** flexbox parent and children style */
.display-flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
@keyframes fadeInOut {
  0% {
      opacity: 0;
  }
  60% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}


.main{
    width: 100%;
    height: 100%;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.link{
  padding-left: 100px;
  padding-top: 100px;
}
.link a{
  font-size: 20px;
  color: #fff;
  line-height: 40px;
}
.page, .wrap{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.page{
  z-index: 10;
}

.wrap img{
  width: 100%;
  position: absolute;
  height: 100%;
}
.p1_top img, .p1_logo img{
  height: auto;
}
.page_bottom img{
  bottom: 0;
}
.ctrl_wrap{
  height: 58px;
  width: 100%;
  position: absolute;
  bottom: 46px;
}
.submit_wrap{
  height: 44px;
  width: 100%;
  position: absolute;
  bottom: 81px;
  left: 50%;
  margin-left: -25%;
}
.btn{
  height: 100%;
  position: absolute;
  top: 0;
}
.btn.no_btn{
  left: 28px;
}
.btn.ok_btn{
  right: 28px;
}
.btn img{
  height: 100%;
}
.p2_top img{
  height: auto;
}
.p2_img{
  opacity: 0;
  -webkit-animation: fadeInOut 2s ease-out 1;
  -moz-animation: fadeInOut 2s ease-out 1;
  -o-animation: fadeInOut 2s ease-out 1;
}
.p2_img.img_1{
  animation-delay:1s;
  -webkit-animation-delay:1s;
}
.p2_img.img_2{
  animation-delay:3s;
  -webkit-animation-delay:3s;
}
.p2_img.img_3{
  animation-delay:5s;
  -webkit-animation-delay:5s;
}
.p2_img.img_4{
  animation-delay:7s;
  -webkit-animation-delay:7s;
}
.p2_img.img_5{
  animation-delay:9s;
  -webkit-animation-delay:9s;
}
.p3_top img{
  height: auto;
}
.p3_form{
  position: absolute;
  width: 301px;
  height: 286px;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -143px;
}
.p3_form .form{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.p3_form .form .ipt{
  display: block;
  height: 40px;
  width: 200px;
  background: #ffe19f;
  border-radius: 6px;
  border: 1px #3e3143 solid;
  margin-left: 34px;
  padding-left: 10px;
  font-size: 14px;
}
.p3_form .form .ipt.ipt_name{
  margin-top: 110px;
}
.p3_form .form .ipt.ipt_id{
  margin-top: 50px;
}
.p4_top img{
  height: auto;
}
.p4_ticket{
  position: absolute;
  width: 100%;
}
.ticket_1{
  top: 14%;
}
.ticket_2{
  top: 48%;
}
.p4_ticket .ticket{
  width:311px;
  margin: 0 auto;
}
.p4_ticket .ticket img{
  width: 100%;
}
.get_btn{
  width: 199px;
  margin: 0 auto;
  margin-top: 15px;
}
.get_btn img{
  width: 100%;
}
.p5_top img{
  height: auto;
}
.p5_bottom{
  position: absolute;
  width:100%;
  height: 167px;
  bottom: 0;
}
.p5_bottom img{
  width: 100%;
}
.p5_title{
  width: 100%;
  margin-top: 60px;
}
.p5_title .title{
  width: 314px;
  margin: 0 auto;
}
.p5_title img{
  width: 100%;
}
.p5_slogon{
  width: 100%;
  margin-top: 2%;
  text-align: center;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
}
.p5_chakan{
  width: 100%;
  margin-top: 4%;
  position: relative;
  z-index: 10;
}
.p5_chakan .chakan_btn{
  width: 199px;
  margin: 0 auto;
}
.p5_chakan .chakan_btn img{
  width: 100%;
}
.p5_xin{
  position: absolute;
  width: 100%;
  bottom: 0;
}
.p5_xin .xin{
  width: 310px;
  margin: 0 auto;
  position: relative;
}
.p5_xin .xin img{
  width: 100%;
}
.name{
    position: absolute;
    right: 26%;
    bottom: 30%;
    color: #b89783;
    font-size: 16px;
    letter-spacing: 4px;
}
.ma_wrap{
  background: rgba(0,0,0,0.5);
  z-index: 11;
}
.share_wrap{
  background: rgba(0,0,0,0.7);
  z-index: 11;
}
.share{
  width: 260px;
  height: 118px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}
.close_share{
  width: 32px;
  height: 32px;
  margin: 0 auto;
  margin-top: 40px;
  position: relative;
}
.close_share img{
  width: 100%;
  height: 100%;
  position: relative;
}
.ma{
  width: 306px;
  height: 304px;
  margin: 0 auto;
  margin-top: 30%;
  position: relative;
}
.ma img{
  width: 100%;
  height: 100%;
  position: relative;
}
.ma .ma_list{
  position: absolute;
  top: 0;
  padding-top: 56px;
  padding-left: 30px;
}
.ma .ma_list .ma_item{
  display: block;
  letter-spacing: 2px;
  font-size: 14px;
  color: #3e3143;
  margin-top: 28px;
}
.ma .ma_list .ma_item span{
  display: block;
}
.ma .ma_list .ma_item .ma_txt{
  font-size: 16px;
  margin-top: 12px;
}
.ma_close{
  width: 23px;
  position: absolute;
  right: 10px;
  top: -56px;
}
.ma_close .close{
  position: absolute;
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
}
.ma_copy, .ma_share{
  width: 100%;
}
.ma_copy .copy_btn, .ma_share .share_btn{
  width: 199px;
  height:44px;
  margin: 0 auto;
}
.ma_copy .copy_btn img{
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 25px;
}
.ma_share .share_btn img{
  width: 100%;
  height: 100%;
  position: relative;
}
.ma_share{
  position: absolute;
  bottom: 4%;
}
.err{
  position: absolute;
  height: 100px;
  line-height: 100px;
  color: #fff;
  font-size: 18px;
  width: 200px;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  border-radius: 10px;
  background: rgba(0,0,0,0.9);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-out;
  z-index: 0;
}
.err.show{
  opacity: 1;
  z-index: 10;
}
.ma_list_txt{
  display: none;
}
/*.p1_guang{
  background-image: url(../img/p1_guang.png);
}
.p1_mubu{
  background-image: url(../img/p1_mubu.png);
}
.p1_jiaren{
  background-image: url(../img/p1_jiaren.png);
}*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 568px){
  .ctrl_wrap{
    height: 48px;
  }
  .submit_wrap{
    height: 38px;
  }
}

@media only screen
and (min-device-width: 375px)
and (max-device-width: 667px){
  .ctrl_wrap{
    height: 58px;
  }
  .submit_wrap{
    height: 44px;
  }
}

@media only screen
and (min-device-width: 414px)
and (max-device-width: 736px){
  .ctrl_wrap{
    height: 62px;
  }
  .submit_wrap{
    height: 50px;
  }
  .p3_form{
    position: absolute;
    width: 330px;
    height: 308px;
    left: 50%;
    margin-left: -165px;
    top: 50%;
    margin-top: -154px;
  }
  .p3_form .form .ipt{
    width: 230px;
  }
  .p3_form .form .ipt.ipt_name{
    margin-top: 122px;
  }
  .p3_form .form .ipt.ipt_id {
    margin-top: 56px;
  }
}